<h2 class="sub-header">Host-System</h2>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <p><strong>Hostname</strong></p>
      <p><%= HostSystem.hostname %></p>
    </div>
    <div class="col-md-4">
      <p><strong>IP-Address</strong></p>
      <p><%= HostSystem.ip_address %></p>
    </div>
    <div class="col-md-4">
      <p><strong>OS</strong></p>
      <p><%= HostSystem.os %></p>
    </div>
  </div>
</div>

<h2 class="sub-header">Containers</h2>

<table class="table table-striped">
  <tr>
    <th>Status</th>
    <th>Name</th>
    <th>Hostname</th>
    <th>IP Address</th>
    <th>Memory usage</th>
    <th>Actions</th>
  </tr>
  <% Container.by_state.each do |container| %>
    <%= container_row container do %>
      <td>
        <%= state_label container %>
      </td>
      <td>
        <%= link_to container.name, '' %>
      </td>
      <td>
        <%= container.hostname %>
      </td>
      <td>
        <%= simple_format container.ip_addresses %>
      </td>
      <td>
        <span class="label label-default">
          <%= container.memory_usage %>
        </span>
      </td>
      <td>
        <div class="btn-group">
          <%= action_button :start, container %>
          <%= action_button :stop, container %>
          <%= action_button :freeze, container %>
          <%= action_button :delete, container %>
        </div>
      </td>
    <% end %>
  <% end %>
</table>
