<div id="containers">
  <h2 class="sub-header">Containers</h2>

  <p>
    <small>
      Auto-reload in <span id="seconds">30</span> seconds
      <a href="#" id="autoreload-pause">
        <span class="glyphicon glyphicon-pause"></span>
      </a>
      <a href="#" id="autoreload-trigger">
        <span class="glyphicon glyphicon-refresh"></span>
      </a>
    </small>
  </p>

  <p>
    <%= link_to 'Create new container', new_container_path, class: 'btn btn-primary' %>
  </p>

  <table class="table table-striped">
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Memory usage</th>
      <th>Actions</th>
    </tr>
    <% @containers.each do |container| %>
      <%= container_row container do %>
        <td>
          <%= state_label container %>
        </td>
        <td>
          <%= link_to container.name, container_path(id: container.id) %>
        </td>
        <td>
          <%= container.hostname %>
        </td>
        <td>
          <%= simple_format container.ip_addresses, {}, wrapper_tag: :span %>
        </td>
        <td>
          <%= memory_label container.memory_usage %>
        </td>
        <td>
          <div class="btn-group">
            <%= action_button :start, container %>
            <%= action_button :stop, container %>
            <% if container.frozen? %>
              <%= action_button :unfreeze, container %>
            <% else %>
              <%= action_button :freeze, container %>
            <% end %>
            <%= action_button :destroy, container %>
          </div>
        </td>
      <% end %>
    <% end %>
  </table>

  <p>
    <%= link_to 'Create new container', new_container_path, class: 'btn btn-primary' %>
  </p>
  </div>
