<!DOCTYPE html>
<html>
<head>
  <title><%= project_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-hdd" style="margin-right: 5px;"></span>
          <%= project_name %>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="nav-header">General</li>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li class="nav-header">Containers</li>
          <% Container.by_name.each do |container| %>
            <li><a href="#"><%= container.name %></a></li>
          <% end %>
        </li>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= content_tag :div, flash[:notice], class: 'alert alert-info' if flash[:notice] %>
        <h1 class="page-header">Dashboard</h1>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
